body {
	margin: 0;
	padding: 0;
	background-color: #828c89;
	background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
	
}

h2 {
	font-family: cursive; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: cursive; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: cursive; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
}

.container {
	display: flex;
	justify-content: center;
	aligne-items: center;
	height: 100vh;	
	padding: 20px;
	font-size: 22;
}

.centered-section {
	padding: 70px 0;
	text-align: center;
	max-width: 600px;
	width: 100%;
}

img {
	width: 350px;
	height: auto;
}

.sideNav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: url('black-hex.jpg');
  background-size: cover;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #C0C0C0;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav a:nth-child(1):hover {
	color: #f1f1f1;
}

.sideNav a:nth-child(2):hover {
	color: #f1f1f1;
}

.sideNav a:nth-child(3):hover {
	color: #0000FF;
}

.sideNav a:nth-child(4):hover {
	color: #800080;
}

.sideNav a:nth-child(5):hover {
	color: #8B4513;
}

#mySideNav a:nth-child(6):hover {
	color: #000000;
}


.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}

#menuButton {
	font-size:30px;
	cursor: pointer;
	margin-top: 15px;
}
